.contact-container {
    position: relative;
    background: rgb(0 0 0 / 88%);
    overflow: hidden;
    height: 380px;
}
.contact-container:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.4;
    background-image: url('https://themepure.net/template/educal/educal/assets/img/page-title/page-title.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.contact-container div {
    padding: 150px 0;
    z-index: 2;
    text-align: left;
    position: relative;
    color: #fff;
}
li.breadcrumb-item.text-white a {
    color: #fff;
    text-decoration: none;
}


.breadcrumb-item.active {
    color: #ffff
}
.contact{
    margin-top: 100px
}
input:focus, textarea:focus{
    box-shadow: 0 0 0 0.25rem rgba(240, 144, 177, 0.705) !important;
    border: none;
 }